<div class='large-12 large-offset-0 medium-12 medium-offset-0 small-12 small-offset-0 columns'>
  <div class='panel callout radius text-center'>
    <h5>My<b>Web</b>Ed | Tracking your Progess through Online Education Programs</h5>
  </div>
  <table id='courses' class='display'>
    <thead>
      <tr>
        <th>Course</th>
        <th>School</th>
        <th>Started</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |c| %>
        <tr>
          <td class='large-6 medium-6 small-6'><%= link_to c.name, course_path(c.id) %></td>
          <td class='large-5 medium-5 small-5'><%= link_to c.school, c.url, target: '_blank' %></td>
          <td class='large-1 medium-1 small-1'><%= case c.started when true then 'Yes' else 'No' end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
