<nav class='top-bar' data-topbar>
  <ul class='title-area'>
    <li class='name'>
      <h1><%= link_to 'My<b>Web</b>Ed'.html_safe, root_path %></h1>
    </li>
    <li class='toggle-topbar menu-icon'><a href='#'></a></li>
  </ul>

  <section class='top-bar-section' style='left: 0%'>
    <ul class='right'>
      <div class='large-2 medium-2 small-2 columns'>
        <%= link_to 'Post', new_course_path, class: 'default button expan' %>
      </div>
    </ul>
  </section>

</nav>
